<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" >
<title>{{$seo->title}}</title>
<meta name="keywords" content="{{$seo->keywords}}" />
<meta name="description" content="{{$seo->description}}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{$RESOURCE}}/css/style.css">
{{include file="Common/common.html"}}

</head>


<body>
<!-- header -->
{{include file="Common/header.html"}}
<div class="main w320">
  <div class="active">
  {{foreach $mobileAd as $v}}
        <a href="{{$contact.swt_link}}" target="_blank" title="在线咨询">
        <img src="{{$v->src}}" >
        </a> 
  {{/foreach}}
    
  </div>
  
 <!-- 主要内容-->
  <div class="content"> 
  
  
  <!-- 第一部分-->
    <div class="part1">
      <div class="part_til">疾病导航</div>
      <div class="part_p w300">
      {{foreach $diseases as $k=>$v}}
      {{if $k<9}}
      {{$c='mr'}}
      {{if ($k+1)%3==0}}{{$c=''}}{{/if}}
   		<dl class="{{$c}}">
   		<dt><a href="{{$contact.swt_link}}" target="_blank"><img src="{{$RESOURCE}}/images/p03.jpg" width="50" height="50" /></a>
   		</dt>
        <dd><a href="{{$contact.swt_link}}" target="_blank">{{$v->name}}</a></dd>
        </dl> 
      {{/if}}       
	  {{/foreach}}
                
      <div class="cle"></div>
      </div>
    </div>
  <!-- 第一部分结束-->  
  
    <!-- 第二部分-->
    <div class="part2">
      <div class="part_til">{{$WEBTITLE}}</div>
      <div class="part2_p">
        <div class="w299">        
         <img class="fl" src="{{$smarty.const.UPLOAD}}{{$data->pic}}" width="300" height="137"/>
        </div>
        <div class="cle"></div>
      </div>
      <div class="part2_w w300">
          <p>{{$data->content}}</p>
      </div>
      <div class="lianxi">
        <a href="{{$contact.swt_link}}" target="_blank">
        <img src="{{$RESOURCE}}/images/p45-1.jpg" width="112" height="32" /></a>
        <a href="tel:{{$contact.tel}}">
        <img src="{{$RESOURCE}}/images/p45.jpg" width="112" height="32" /></a> 
      </div>
    </div>
    <!-- 第二部分结束-->  
  
    <!-- 第三部分-->
  <div class="part3">
   <div class="part_til">专家团队</div>
   <div class="person_tro w320">
    <div class="box3">
    
    {{foreach $doctors as $k=>$v}}
    {{if $k<4}}
    <dl>
     <dt class="bd fl">
         <a href="{{$contact.swt_link}}" target="_blank">
         <img src="{{$smarty.const.UPLOAD}}{{$v->pic}}" width="62" height="81" />
         </a>
      </dt>
     
     <dd class="fr">
     <b>{{$v->name|truncate:4}}</b><strong>{{$v->position}}&nbsp;</strong>
        <a href="{{$contact.swt_link}}" target="_blank">
        <img src="{{$RESOURCE}}/images/tel.jpg" width="71" height="24" /></a>
     </dd>
     <div class="cle"></div>
    </dl>
   {{/if}}
    {{/foreach}}
    </div>
     
    <div class="cle"></div>
     <div class="lianxi">
        <a href="{{$contact.swt_link}}" target="_blank">
        <img src="{{$RESOURCE}}/images/p45-1.jpg" width="112" height="32" /></a>
        <a href="tel:{{$contact.tel}}">
        <img src="{{$RESOURCE}}/images/p45.jpg" width="112" height="32" /></a>
      </div> 
    </div>          
 </div>
    <!-- 第三部分结束-->  
  
 
 
    <!-- 第四部分-->
    <div class="part4">
      <div class="part_til">特色治疗技术</div>
      <div class="part4_p w300">
 {{foreach $technologys as $k=>$v}}   
 {{if $k<10}}  
      <dl><dt><img src="{{$RESOURCE}}/images/p55.jpg" width="31" height="31" /></dt>
      <dd class="dd1">{{$v->department_name}}</dd>
      <dd class="dd2"><a href="{{$contact.swt_link}}" target="_blank">{{$v->subject}}</a></dd>
      </dl>
      <div class="cle"></div>
 {{/if}}
 {{/foreach}}

    
      <div class="lianxi">
        <a href="{{$contact.swt_link}}" target="_blank">
        <img src="{{$RESOURCE}}/images/p45-1.jpg" width="112" height="32" /></a>
        <a href="tel:{{$contact.tel}}">
        <img src="{{$RESOURCE}}/images/p45.jpg" width="112" height="32" /></a> 
      </div>
        
      </div>
    </div>
    <!-- 第四部分结束--> 
  
    <!--第五部分-->
    <div class="part5">
      <div class="part_til">先进设备</div>
      <div class="part5_p w300">
      {{foreach $devices as $k=>$v}}
      {{if $k<9}}
      {{$c='mr11'}}
      {{if ($k+1)%3==0}}{{$c=''}}{{/if}}      
        <dl class="{{$c}}"><dt> <a href="{{$MOBILE}}/device.php?method=get&id={{$v->id}}" target="_blank">
        <img src="{{$smarty.const.UPLOAD}}{{$v->pic}}" width="89" height="71" /></a></dt>
        <dd><a href="{{$MOBILE}}/device.php?method=get&id={{$v->id}}" target="_blank">{{$v->subject|truncate:8}}</a></dd></dl>
       {{/if}}
       {{/foreach}} 
      <div class="cle"></div>
      </div>
      
      <div class="lianxi">
        <a href="{{$contact.swt_link}}" target="_blank">
        <img src="{{$RESOURCE}}/images/p45-1.jpg" width="112" height="32" /></a>
        <a href="tel:{{$contact.tel}}">
        <img src="{{$RESOURCE}}/images/p45.jpg" width="112" height="32" /></a> 
      </div>
    </div>
   <!--第五部分结束-->  
 
 <!--第十部分-->
 <div class="part10">
   <div class="part_til">医院新闻</div>
   <div class="video">
 {{foreach $news as $k=>$v}}
 {{if $k<2}}
	<div class="artcon2">
	<p style="text-align: center">
	<strong>
	<span style="font-family:微软雅黑;font-size:large">
	<a href="{{$MOBILE}}/news.php?method=get&id={{$v->id}}" target="_blank">{{$v->subject}}</a>
	</span>
	</strong>
	</p>
	<img width="295" height="200" src="{{$smarty.const.UPLOAD}}{{$v->pic}}" />
	<p>{{$v->content|truncate:120}}<a href="{{$MOBILE}}/news.php?method=get&id={{$v->id}}" target="_blank"><strong>[详情]</strong></a></p>
	</div>
	
	<p style="text-align: center">&nbsp;</p>
	{{include file="Common/consult.html"}}
	<p style="text-align: center">&nbsp;</p>
   {{/if}}
{{/foreach}}

   </div>

 </div>
 <!--第十部分结束-->  
  
 <!--第十一部分-->
 <div class="part11">
   <div class="part_til">{{$mobileNav['data']->subject}}</div>
   <div class="learn">
     <ul>
        {{foreach from=$mobileNav['ParNav'] item=value  name=name}}
        {{if $smarty.foreach.name.iteration lt 8}}
        <li class="learn{{$smarty.foreach.name.iteration}}"><a href="{{$value->url}}" target="_self">{{$value->subject}}</a></li>
        {{/if}}
        {{/foreach}}
     </ul>
    <div class="cle"></div>
   </div>
      <div class="lianxi">
        <a href="{{$contact.swt_link}}" target="_blank">
        <img src="{{$RESOURCE}}/images/p45-1.jpg" width="112" height="32" /></a>
        <a href="tel:{{$contact.tel}}">
        <img src="{{$RESOURCE}}/images/p45.jpg" width="112" height="32" /></a> 
      </div>
 </div>
<!--第十一部分结束-->  
  
  
  </div>
 



</div>

<!-- footer -->
{{include file="Common/footer.html"}}
</body>


</html>