{{extends file='../Common/layout.html'}}
{{block name=title}}医院信息{{/block}}
{{block name=body}}
<div class="am-tabs am-margin-0 main_irm am-no-layout" data-am-widget="tabs">
  <nav class=" am-tabs-nav am-cf">
      <li class="am-active"><a href="[data-tab-panel-0]">医院概况</a></li>
      <li class=""><a href="[data-tab-panel-1]">三院护理</a></li>
      <li class=""><a href="[data-tab-panel-2]">院务公开</a></li>
  </nav>
  <div class="main_hinf am-tabs-bd" style="-moz-user-select: none;">
 	 <div data-tab-panel-0="" class="am-padding-0 float_none am-container am-tab-panel am-active am-in">
          <nav class="nav_tit"><a href="javascript:void(0)" dataid="#hostpital_intro" class="jumppage">医院简介</a><a href="javascript:void(0)" dataid="#hospital_wenhua" class="jumppage">医院文化</a><a href="javascript:void(0)" dataid="#hostpital_photo"  class="jumppage">精彩图集</a></nav>
          <div class="main_hinf_box am-container">
            <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar"  id="hostpital_intro">
                <h2 class="am-titlebar-title ">
                    医院简介
                </h2>
            </div>
           
            <div class="main_hinfb1 am-figure-default">
              <img src="{{$smarty.const.UPLOAD}}{{$data->pic}}">
              <p>{{$data->content}}</p>
            </div>
          </div>
          <div class="main_hinf_box am-container" id="hospital_wenhua">
            <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar">
                <h2 class="am-titlebar-title ">
                    医院文化
                </h2>
            </div>
            <div class="main_hinfb1 am-figure-default">
          
          
              <p> {{$wenhua->content}}</p>
             
            </div>
          </div>
          <div class="main_hinf_box am-container">
            <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="hostpital_photo">
                <h2 class="am-titlebar-title ">
                    精彩图集
                </h2>
            </div>
            <ul class="am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-imgbordered am-padding-0 am-no-layout" data-am-widget="gallery" data-am-gallery="{pureview: true}">
             
              {{if $environment}}
              {{foreach from=$environment item=value name=env}}
              {{if $smarty.foreach.env.iteration<=4}}
              <li>
                <div class="am-gallery-item"> <a class="" href=""> <img href="/mobile/environment.php?method=get&id={{$value->id}}" src="{{$smarty.const.UPLOAD}}{{$value->pic}}" alt="{{$value->subject}}"></a> </div>
              </li>
              {{/if}}
             {{/foreach}}
             {{/if}}
             
            </ul>
          </div>
    </div>
     <div data-tab-panel-1="" class="am-padding-0 float_none am-container am-tab-panel">
      <div class="nav_ellipsis">
        <nav class="nav_tit"><a dataid="#huliintro" href="javascript:void(0)" class="jumppage">护理简介</a><a href="javascript:void(0)" dataid="#hulidongtai" class="jumppage">护理动态</a><a href="javascript:void(0)" dataid="#tongzhi" class="jumppage">通知公告</a><a href="/mobile/channel.php?method=query&channel_id={{$guanliid}}">管理规范</a><a href="/mobile/channel.php?method=query&channel_id={{$hushijinxiuid}}">护士进修</a><a href="/mobile/channel.php?method=query&channel_id={{$zhuankehuliid}}">专科护理</a> <a href="javascript:void(0)" dataid="#tianshifeng" class="jumppage">天使风采</a></nav>
      </div>
      <div class="main_hinf_box am-container">
        <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="huliintro">
            <h2 class="am-titlebar-title ">护理简介</h2>
            <nav class="am-titlebar-nav"><a class="" href="/mobile/channel.php?method=query&channel_id={{$huidataid}}">» 更多</a></nav>
        </div>
        {{$hulipic=$PicManagerTag->getMobilePic("sanyuanhuli","mobile")}}
        <div class="main_hinfb1 am-figure-default">
          <img src="{{$smarty.const.UPLOAD}}{{$hulipic->img}}">
          <div class="am-list-news am-list-news-default main_otg am-no-layout am-margin-0" data-am-widget="list_news"> 
            <div class="am-list-news-bd">
              <ul class="am-list">
             
              {{foreach from=$huidata item=huvalue name=hui}}
                <li class="am-g am-list-item-dated"> <a class="am-list-item-hd " href="/mobile/channel.php?method=get&id={{$huvalue->id}}">{{$huvalue->subject}}</a> <span class="am-list-date">{{$huvalue->plushtime|date_format:"%Y-%m-%d %H:%M"}}</span> </li>
                {{/foreach}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main_hinf_box am-container">
        <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="hulidongtai">
            <h2 class="am-titlebar-title ">护理动态</h2>
            <nav class="am-titlebar-nav"><a class="" href="/mobile/channel.php?method=query&channel_id={{$hudongtaiid}}">» 更多</a></nav>
        </div>
        <div class="main_hinfb1 am-figure-default">
          <div class="am-list-news am-list-news-default main_otg am-no-layout am-margin-0" data-am-widget="list_news"> 
            <div class="am-list-news-bd">
              <ul class="am-list">
              {{foreach from=$hudongtai item=hudongtaivalue name=huidong}}
                <li class="am-g am-list-item-dated"> <a class="am-list-item-hd " href="/mobile/channel.php?method=get&id={{$hudongtaivalue->id}}">{{$hudongtaivalue->subject}}</a> <span class="am-list-date">{{$hudongtaivalue->plushtime|date_format:"%Y-%m-%d %H:%M"}}</span> </li>
               {{/foreach}} 
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main_hinf_box am-container">
        <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="tongzhi">
            <h2 class="am-titlebar-title ">通知公告</h2>
            <nav class="am-titlebar-nav"><a class="" href="/mobile/channel.php?method=query&channel_id={{$tongzhiid}}">» 更多</a></nav>
        </div>
        <div class="main_hinfb1 am-figure-default">
          <div class="am-list-news am-list-news-default main_otg am-no-layout am-margin-0" data-am-widget="list_news"> 
            <div class="am-list-news-bd">
              <ul class="am-list">
              {{foreach from=$tongzhi item=tongzhivalue name=tongzhi}}
                <li class="am-g am-list-item-dated"> <a class="am-list-item-hd " href="/mobile/channel.php?method=get&id={{$tongzhivalue->id}}">{{$tongzhivalue->subject}}</a> <span class="am-list-date">{{$tongzhivalue->plushtime|date_format:"%Y-%m-%d %H:%M"}}</span> </li>
                {{/foreach}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main_hinf_box am-container">
            <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="tianshifeng">
                <h2 class="am-titlebar-title ">
                    天使风采
                </h2>
            </div>
            <ul data-am-gallery="" class="am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-imgbordered am-padding-0 am-no-layout" data-am-widget="gallery">
              {{foreach from=$tianshi item=tianshivalue name=tianshis}}
               {{if $smarty.foreach.tianshis.iteration<=4}}
              <li>
                <div class="am-gallery-item"> <a class="" href="/mobile/channel.php?method=get&id={{$tianshivalue->id}}"> <img alt="" src="{{$smarty.const.UPLOAD}}{{$tianshivalue->pic}}"></a> </div>
              </li>
              {{/if}}
              {{/foreach}}
            </ul>
          </div>
      
      
    </div>
     <div data-tab-panel-2="" class="am-padding-0 float_none am-container am-tab-panel">
      <div class="nav_ellipsis">
        <nav class="nav_tit"><a href="javascript:void(0)" class="jumppage" dataid="#showxinxi">信息公开</a><a href="javascript:void(0)" class="jumppage" dataid="#guanlizhidu">管理制度</a><a href="javascript:void(0)" class="jumppage" dataid="#dashiji">大事记</a><a href="javascript:void(0)" class="jumppage" dataid="#bangshi">办事指南</a><a href="javascript:void(0)" class="jumppage" dataid="#wenjianxiazai">文件下载</a></nav>
      </div>
      <div class="main_hinf_box am-container">
        <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="showxinxi">
            <h2 class="am-titlebar-title ">信息公开</h2>
            <nav class="am-titlebar-nav"><a class="" href="/mobile/channel.php?method=query&channel_id={{$xinxigongkaiid}}">» 更多</a></nav>
        </div>
        <div class="main_hinfb1 am-figure-default">
          <div class="am-list-news am-list-news-default main_otg am-no-layout am-margin-0" data-am-widget="list_news"> 
            <div class="am-list-news-bd">
              <ul class="am-list">
              {{foreach from=$xinxiarticle item=xinxivalue name=xinxi}}
                <li class="am-g am-list-item-dated"> <a class="am-list-item-hd " href="/mobile/channel.php?method=get&id={{$xinxivalue->id}}">{{$xinxivalue->subject}}</a> <span class="am-list-date">{{$xinxivalue->plushtime|date_format:"%Y-%m-%d %H:%M"}}</span> </li>
                {{/foreach}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main_hinf_box am-container">
        <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="guanlizhidu">
            <h2 class="am-titlebar-title ">管理制度</h2>
            <nav class="am-titlebar-nav"><a class="" href="/mobile/channel.php?method=query&channel_id={{$guanlizhiduid}}">» 更多</a></nav>
        </div>
        <div class="main_hinfb1 am-figure-default">
          <div class="am-list-news am-list-news-default main_otg am-no-layout am-margin-0" data-am-widget="list_news"> 
            <div class="am-list-news-bd">
              <ul class="am-list">
              {{foreach from=$guanliarticle item=guanlivalue name=guanli}}
                <li class="am-g am-list-item-dated"> <a class="am-list-item-hd " href="/mobile/channel.php?method=get&id={{$guanlivalue->id}}">{{$guanlivalue->subject}}</a> <span class="am-list-date">{{$guanlivalue->plushtime|date_format:"%Y-%m-%d %H:%M"}}</span> </li>
                 {{/foreach}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main_hinf_box am-container">
        <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="dashiji">
            <h2 class="am-titlebar-title ">大事记</h2>
            <nav class="am-titlebar-nav"><a class="" href="/mobile/channel.php?method=query&channel_id={{$dashijiid}}">» 更多</a></nav>
        </div>
        <div class="main_hinfb1 am-figure-default">
          <div class="am-list-news am-list-news-default main_otg am-no-layout am-margin-0" data-am-widget="list_news"> 
            <div class="am-list-news-bd">
              <ul class="am-list">
              {{foreach from=$dashijiarticles item=dashijivalue name=dashiji}}
                <li class="am-g am-list-item-dated"> <a class="am-list-item-hd " href="/mobile/channel.php?method=get&id={{$dashijivalue->id}}">{{$dashijivalue->subject}}</a> <span class="am-list-date">{{$dashijivalue->plushtime|date_format:"%Y-%m-%d %H:%M"}}</span> </li>
                  {{/foreach}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main_hinf_box am-container">
        <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="bangshi">
            <h2 class="am-titlebar-title ">办事指南</h2>
            <nav class="am-titlebar-nav"><a class="" href="/mobile/channel.php?method=query&channel_id={{$banshizhinanid}}">» 更多</a></nav>
        </div>
        <div class="main_hinfb1 am-figure-default">
          <div class="am-list-news am-list-news-default main_otg am-no-layout am-margin-0" data-am-widget="list_news"> 
            <div class="am-list-news-bd">
              <ul class="am-list">
               {{foreach from=$banshizhinanarticles item=banshivalue name=banshi}}
                <li class="am-g am-list-item-dated"> <a class="am-list-item-hd " href="/mobile/channel.php?method=get&id={{$banshivalue->id}}">{{$banshivalue->subject}}</a> <span class="am-list-date">{{$banshivalue->plushtime|date_format:"%Y-%m-%d %H:%M"}}</span> </li>
                {{/foreach}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main_hinf_box am-container">
        <div class="am-titlebar am-titlebar-default am-no-layout" data-am-widget="titlebar" id="wenjianxiazai">
            <h2 class="am-titlebar-title ">文件下载</h2>
            <nav class="am-titlebar-nav"><a class="" href="/mobile/channel.php?method=query&channel_id={{$xiazaizhognxinid}}">» 更多</a></nav>
        </div>
        <div class="main_hinfb1 am-figure-default">
          <div class="am-list-news am-list-news-default main_otg am-no-layout am-margin-0" data-am-widget="list_news"> 
            <div class="am-list-news-bd">
              <ul class="am-list">
              {{foreach from=$xiazaiarticles item=xiazaivalue name=xiazai}}
                <li class="am-g am-list-item-dated"> <a class="am-list-item-hd " href="/mobile/channel.php?method=get&id={{$xiazaivalue->id}}">{{$xiazaivalue->subject}}</a> <span class="am-list-date">{{$xiazaivalue->plushtime|date_format:"%Y-%m-%d %H:%M"}}</span> </li>
               {{/foreach}}  
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/block}}
{{block name=js}}
<script src="{{$RESOURCE}}/js/laypage.js"></script>
<script src="{{$RESOURCE}}/js/Validform.min.js"></script>
<script src="{{$RESOURCE}}/js/jquery.md5.js"></script>
<script src="{{$RESOURCE}}/js/jquery.scrollTo.js"></script>
<script src="{{$RESOURCE}}/js/shangyu.js"></script>
<script type="text/javascript">
var gShangyu = new Shangyu();
gShangyu.introduce();

</script>
{{/block}}